.clearfix {
    width: 60vw;
    height: 100px;
    align-content: center;
    justify-items: center;
    left: 20%;
    right: 20%;
}

img.logo-global {
    width: 300px;
    right: 0 !important;
}


img.table{
    width: 200px;
    height: 200px;
}

table {
    background-color: transparent;
    width: 80%;
}

td{
    padding: 5px;
}
tr{
    padding: 5px;
}



