

<div class="content" role="main">

  <div class="card-container">

    <a class="card" routerLink="/felinos-component" routerLinkActive="active">
      <span>Buscador Felino</span>
    </a>

    <a class="card" routerLink="/galery-component" routerLinkActive="active">
      <span>18 fotos felinos</span>
    </a>

    <a class="card" routerLink="/store-component" routerLinkActive="active">
      <span>Store felinos</span>
    </a>

  </div>

  <router-outlet></router-outlet>



</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



